.grid {
    border-collapse: collapse;
    width: 100%;
}
  
.cell {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid lightgray;
    max-width: 60px;
    font-size: 13px;
}

.cell, .row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}